body {
    background-color: #eeeeee;
}

.logo-div{
    height: 150px;
    display: flex;
    justify-content: center;
}

.logo-size {
    height: 100%;
    width: auto;

}

.flex {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex > a {
    font-weight: bold;
    text-decoration: none;
    color: #008000;
}

.flex > a:hover {
    color: #000000;
    text-decoration: underline;
}

.link-index {
    height: 70px;
}

.flex-title {
    height: 150px;
    display: flex;
    align-items: center;
    color: #008000;
}

h4 {
    color: #008000;
}

.section {
    padding: 5rem 0;
}

.section-mid {
    padding: 0 0 5rem 0;
}

td > p {
    margin: 1.25rem 0;
}

.error-message {
    color: orangered;
    font-weight: bold;
}

.log-link {
    padding: 0 0 2rem 0;
}