<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<div class="container">
    <!--Fragment Top-->
    <div th:replace="type-form.html :: head"></div>
    <!--Fragment Nav-->
    <div th:replace="type-form.html :: nav"></div>
    <!-- Formulaire -->
    <div class="row">
        <h3>BIERES</h3>
    </div>
    <div class="row">
        <div class="four columns">
            <h4>Créer/Modifier</h4>
            <form>
                <label for="beer">Choisir</label>
                <select class="u-full-width" id="beer">
                    <option value="0">Créer une bière</option>
                    <option>les autres option à base de thymeleaf</option>
                </select>
                <input class="button-primary" type="submit" value="Go !"
            </form>
            <h4>Bières existantes</h4>
            <ol>
                <li>Bière 1</li>
                <li>Et les suivantes</li>
            </ol>
        </div>
        <div class="eight columns">
            <h4>TH:TEXT</h4>
            <form>
                <label for="beerName">Entrer/Modifier un magasin</label>
                <input class="u-full-width" id="beerName" type="text" placeholder="Nom du magasin">
                <input class="button-primary" type="submit" value="Go !">
            </form>
        </div>

    </div>

</div>
</body>
</html>