<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!--Fragment Top-->
<div th:replace="fragment.html :: head-logged"></div>
<!--Fragment Nav-->
<div th:replace="fragment.html :: nav"></div>
<!-- Formulaire -->
<div class="section-mid">
    <div class="container">
        <div class="row">
            <h3>BIERES</h3>
        </div>
        <div class="row">
            <div class="four columns">
                <h4>Créer/Modifier</h4>
                <form th:action="@{/post-beer}" method="post">
                    <label for="beer">Choisir</label>
                    <select class="u-full-width" id="beer" name="beerId">
                        <option selected value="0">Créer une bière</option>
                        <option th:each="beer : ${beers}"
                                th:value="${beer.getIdBeer()}"
                                th:text="${beer.getNameBeer()}"
                                th:selected="${beer.getIdBeer() == newBeer.getIdBeer()}">
                        </option>
                    </select>
                    <input class="button-primary" type="submit" value="Choisir" name="chooseBeer">
                </form>
            </div>
            <div class="eight columns">
                <h4 th:text="${newBeer.getIdBeer() == null ? 'Créer une bière' : 'Modifier : ' + newBeer.getNameBeer()}">TH:TEXT</h4>
                <form th:action="@{/post-beer}" method="post" th:object="${newBeer}">
                    <label th:for="idBrewery">Choisir une brasserie</label>
                    <select class="u-full-width" th:field="*{brewery.idBrewery}" th:id="idBrewery">
                        <option selected value="0">Choisir une brasserie</option>
                        <option th:each="breweryItem : ${breweries}"
                                th:value="${breweryItem.getIdBrewery()}"
                                th:text="${breweryItem.getNameBrewery()}"
                                th:selected="${breweryItem.getIdBrewery() == newBeer.getBrewery().getIdBrewery()}">
                        </option>
                    </select>
                    <label th:for="idType">Choisir un type de bière</label>
                    <select class="u-full-width" th:field="*{type.idType}" th:id="idType">
                        <option selected value="0">Choisir un type</option>
                        <option th:each="typeItem : ${types}"
                                th:value="${typeItem.getIdType()}"
                                th:text="${typeItem.getNameType()}"
                                th:selected="${typeItem.getIdType() == newBeer.getType().getIdType()}">
                        </option>
                    </select>
                    <label th:for="nameBeer">Entrer/Modifier le nom de la bière</label>
                    <input class="u-full-width" th:field="*{nameBeer}" type="text" placeholder="Nom de la bière">
                    <input type="hidden" th:field="*{idBeer}">
                    <input class="button-primary" type="submit" value="Go !" name="chooseBeer">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4>Bières existantes</h4>
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Brasserie</th>
                        <th>Nom de la bière</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="beer : ${beers}">
                        <td th:text="${beer.getBrewery().getNameBrewery()}"></td>
                        <td th:text="${beer.getNameBeer()}"></td>
                        <td th:text="${beer.getType().getNameType()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Fragment Footer-->
<div th:replace="fragment.html :: footer"></div>
</body>
</html>