<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!--Fragment Top-->
<div th:replace="fragment.html :: head-logged"></div>
<!--Fragment Nav-->
<div th:replace="fragment.html :: nav"></div>
<!-- Formulaire -->
<div class="section-mid">
    <div class="container">
        <div class="row">
            <h3>BRASSERIES</h3>
        </div>
        <div class="row">
            <div class="four columns">
                <h4>Créer/Modifier</h4>
                <form th:action="@{/post-brewery}" method="post">
                    <label for="brewery">Choisir</label>
                    <select class="u-full-width" id="brewery" name="breweryId">
                        <option selected value="0">Créer une brasserie</option>
                        <option th:each="brewery : ${breweries}"
                                th:value="${brewery.getIdBrewery()}"
                                th:text="${brewery.getNameBrewery()}"
                                th:selected="${brewery.getIdBrewery() == newBrewery.getIdBrewery()}">
                        </option>
                    </select>
                    <input class="button-primary" type="submit" value="Choisir" name="chooseBrewery">
                </form>
            </div>
            <div class="eight columns">
                <h4>TH:TEXT</h4>
                <form th:action="@{/post-brewery}" th:object="${newBrewery}" method="post">
                    <label th:for="nameBrewery">Entrer/Modifier une brasserie</label>
                    <input class="u-full-width" th:field="*{nameBrewery}" type="text" placeholder="Nom de la brasserie">
                    <input type="hidden" th:field="*{idBrewery}">
                    <input class="button-primary" type="submit" value="Go !" name="chooseBrewery">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4>Brasseries existantes</h4>
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Nom de la brasserie</th>
                        <th>Bières de la brasserie (Une bière - son type)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="brewery : ${breweries}">
                        <td th:text="${brewery.getNameBrewery()}"></td>
                        <td>
                            <p th:each="beer : ${brewery.getBeers()}">
                                <span th:text="|${beer.getNameBeer()} - ${beer.getType().getNameType()}|"></span>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Fragment Footer-->
<div th:replace="fragment.html :: footer"></div>
</body>
</html>