<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!-- Head Unlog-->
<div th:fragment="head" class="section">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <div class="logo-div">
                    <img class="logo-size" th:attr="src=@{/images/beer-next-door.png}">
                </div>
            </div>
            <div class="eight columns flex-title">
                <h1>Beer Next Door: API</h1>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<div th:fragment="footer" class="section">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <p>C'est le footer. Lorem ipsum dolore raht loukoum et tutti quanti ragazzi. C'est le footer. Lorem
                    ipsum
                    dolore raht loukoum et tutti quanti ragazzi. C'est le footer. Lorem ipsum dolore raht loukoum et
                    tutti
                    quanti ragazzi. C'est le footer. Lorem ipsum dolore raht loukoum et tutti quanti ragazzi. C'est le
                    footer. Lorem ipsum dolore raht loukoum et tutti quanti ragazzi. </p>
            </div>
        </div>
    </div>
</div>

<!-- Head Logged-->
<div th:fragment="head-logged" class="section">
    <div class="container">
        <div class="row">
            <div class="three columns flex">
                <a th:href="@{/user-profile}">Profil</a>
            </div>
            <div class="six columns">
                <div class="logo-div">
                    <img class="logo-size" th:attr="src=@{/images/beer-next-door.png}">
                </div>
            </div>
            <div class="three columns flex">
                <a th:href="@{/out}">Déconnexion</a>
            </div>
        </div>
    </div>
</div>

<!-- Nav Logged-->
<div th:fragment="nav" class="container">
    <div class="row">
        <div class="three columns">
            <div class="flex">
                <a th:href="@{/type-form}">TYPE</a>
            </div>
        </div>
        <div class="three columns">
            <div class="flex">
                <a th:href="@{/brewery-form}">BRASSERIE</a>
            </div>
        </div>
        <div class="three columns">
            <div class="flex">
                <a th:href="@{/beer-form}">BIERE</a>
            </div>
        </div>
        <div class="three columns">
            <div class="flex">
                <a th:href="@{/store-form}">MAGASIN</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>