<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

<div th:replace="fragment.html :: head"></div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <p>Mais qu'est-ce donc que BND ? Holala, mais c'est vraiment trop intéressant ! Lorem ipsum dolore et
                    cetera ! Lorem ipsum dolore et cetera Lorem ipsum dolore et cetera Lorem ipsum dolore et cetera
                    Lorem ipsum dolore et cetera</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="six columns flex link-index">
                <a th:href="@{/log}">Connexion</a>
            </div>
            <div class="six columns flex link-index">
                <a th:href="@{/sign}">Inscription</a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <p>C'est le menu de navigation dans la documentation</p>
            </div>
            <div class="eight columns">
                <p>C'est la documentation</p>
            </div>
        </div>
    </div>
</div>
<!-- Fragment Footer-->
<div th:replace="fragment.html :: footer"></div>
</body>
</html>