<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

<div th:replace="fragment.html :: head"></div>
<div class="section">
    <div class="container">
        <div class="row">
            <h2>Identification</h2>
        </div>
        <div class="row">
            <a th:href="@{/sign}">Je n'ai pas de compte</a>
        </div>
        <div class="row">
            <form th:action="@{/connexion}" method="post">
                <label for="nameUser">Nom d'utilisateur</label>
                <input type="text" id="nameUser" name="nameUser"/>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password"/>
                <p class="error-message" th:if="${logError}">L'identifiant et le mot de passe ne correspondent pas</p>
                <input type="submit" value="Go" name="logInUser">
            </form>
        </div>
    </div>
</div>
<!-- Fragment Footer-->
<div th:replace="fragment.html :: footer"></div>

</body>
</html>