<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

<div th:replace="fragment.html :: head"></div>
<div class="section">
    <div class="container">
        <div class="row">
            <h2>Account creation</h2>
        </div>
        <div class="row">
            <a th:href="@{/log}">I already have an account</a>
        </div>
        <div class="row">
            <form th:action="@{/sign-in}" method="post" th:object="${user}">
                <label th:for="nameUser">User Name</label>
                <input type="text" th:field="*{nameUser}"/>
                <p th:if="${userNamePresent}">Le nom d'utilisateur est déjà utilisé</p>
                <p th:if="${userNameBlank}">Renseigner un nom d'utilisateur</p>
                <label th:for="email">E-mail</label>
                <input type="text" th:field="*{email}"/>
                <p th:if="${userMailPresent}">Ce mail possède déjà un compte</p>
                <label th:for="password">Password</label>
                <input type="password" th:field="*{password}"/>
                <label for="confirmPass">Password confirmation</label>
                <input id="confirmPass" type="password" name="confirmPass"/>
                <p th:if="${pwError}">Les mots de passe ne correspondent pas</p>
                <input type="submit" value="Go" name="registerUser">
            </form>
        </div>
    </div>
</div>
<!-- Fragment Footer-->
<div th:replace="fragment.html :: footer"></div>

</body>
</html>