<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!--Fragment Top-->
<div th:replace="fragment.html :: head-logged"></div>
<!--Fragment Nav-->
<div th:replace="fragment.html :: nav"></div>
<!-- Formulaire -->
<div class="section-mid">
    <div class="container">
        <div class="row">
            <h3>MAGASINS</h3>
        </div>
        <div class="row">
            <div class="four columns">
                <h4>Créer/Modifier</h4>
                <form th:action="@{/post-store}" method="post">
                    <label for="store">Choisir</label>
                    <select class="u-full-width" id="store" name="storeId">
                        <option selected value="0">Créer un magasin</option>
                        <option th:each="store : ${stores}"
                                th:value="${store.getIdStore()}"
                                th:text="${store.getNameStore()}"
                                th:selected="${store.getIdStore() == newStore.getIdStore()}">
                        </option>
                    </select>
                    <input class="button-primary" type="submit" value="Choisir" name="chooseStore">
                </form>
            </div>
            <div class="eight columns">
                <h4 th:text="${newStore.getIdStore() == null ? 'Créer un magasin' : 'Modifier : ' + newStore.getNameStore()}">TH:TEXT</h4>
                <form th:action="@{/post-store}" method="post" th:object="${newStore}">
                    <label th:for="nameStore">Entrer/Modifier un magasin</label>
                    <input class="u-full-width" th:field="*{nameStore}" type="text" placeholder="Nom du type">
                    <input type="hidden" th:field="*{idStore}">
                    <input class="button-primary" type="submit" value="Go !" name="chooseStore">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4>Magasins existants</h4>
                <ol>
                    <li th:each="store : ${stores}" th:text="${store.getNameStore()}"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Fragment Footer-->
<div th:replace="fragment.html :: footer"></div>
</body>
</html>