<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeerNextDoor</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<!--Fragment Top-->
<div th:replace="fragment.html :: head-logged"></div>
<!--Fragment Nav-->
<div th:replace="fragment.html :: nav"></div>
<!--formulaire en fonction de ce qu'on remplit-->
<div class="section-mid">
    <div class="container">
        <div class="row">
            <h3>TYPES</h3>
        </div>
        <div class="row">
            <div class="four columns">
                <h4>Créer/Modifier</h4>
                <form th:action="@{/post-type}" method="post">
                    <label for="typeOfBeer">Choisir</label>
                    <select class="u-full-width" id="typeOfBeer" name="typeId">
                        <option selected value="0">Créer un type de bière</option>
                        <option th:each="type : ${types}"
                                th:value="${type.getIdType()}"
                                th:text="${type.getNameType()}"
                                th:selected="${type.getIdType() == newType.getIdType()}">
                        </option>
                    </select>
                    <input class="button-primary" type="submit" value="Choisir" name="chooseType">
                </form>
            </div>
            <div class="eight columns">
                <h4>TH:TEXT</h4>
                <form th:action="@{/post-type}" method="post" th:object="${newType}">
                    <label th:for="nameType">Entrer/Modifier un type</label>
                    <input class="u-full-width" th:field="*{nameType}" type="text" placeholder="Nom du type">
                    <input type="hidden" th:field="*{idType}">
                    <input class="button-primary" type="submit" value="Go !" name="chooseType">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4>Types existants</h4>
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Nom du type</th>
                        <th>Bières dans le type (Une bière - Sa brasserie)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="type : ${types}">
                        <td th:text="${type.getNameType()}"></td>
                        <td>
                            <p th:each="beer : ${type.getBeers()}">
                                <span th:text="|${beer.getNameBeer()} - ${beer.getBrewery().getNameBrewery()}|"></span>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Fragment Footer-->
<div th:replace="fragment.html :: footer"></div>
</body>
</html>